package {{package_base}}.{{module_name}}.controller;

import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

import {{package_base}}.{{module_name}}.service.{{entity_name}}Service;
import {{package_base}}.{{module_name}}.util.{{entity_name}}DTO;
import {{package_base}}.shared.BaseController;

@RestController
@RequestMapping("/{{entity_name_lower}}")
public class {{entity_name}}Controller
        extends BaseController<{{entity_name}}DTO.Create, {{entity_name}}DTO.Update, {{entity_name}}DTO, {{entity_name}}DTO.Filters> {

    public {{entity_name}}Controller({{entity_name}}Service service) {
        super(service);
    }

}
