package {{package_base}}.{{module_name}}.util;

import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;
{% for field in fields %}
{% if field.constraints %}
{% for constraint in field.constraints %}
import jakarta.validation.constraints.{{ constraint.split('(')[0] }};
{% endfor %}
{% endif %}
{% endfor %}

@Data
@Builder
@AllArgsConstructor
@NoArgsConstructor
public class {{entity_name}}DTO {
    private {{ id_type }} id;
{% for field in fields %}
    private {{ field.type }} {{ field.name }};
{% endfor %}

    @Data
    public static class Create {
        {% for field in fields %}
        {% if field.constraints %}
        {% for constraint in field.constraints %}
            @{{ constraint }}
        {% endfor %}
        {% endif %}
            private {{ field.type }} {{ field.name }};
        {% endfor %}
    }

    @Data
    public static class Update {
        {% for field in fields %}
        private {{ field.type }} {{ field.name }};
    {% endfor %}
    }

    @Data
    public static class Filters {
        private {{ id_type }} id;
    {% for field in fields %}
        private {{ field.type }} {{ field.name }};
    {% endfor %}
    }
}
