package {{package_base}}.{{module_name}}.repository;

import org.springframework.stereotype.Repository;

import {{package_base}}.{{module_name}}.entity.{{entity_name}};
import {{package_base}}.shared.BaseJpaRepository;

@Repository
public interface {{entity_name}}Repository extends BaseJpaRepository<{{entity_name}}> {
}
