package {{package_base}}.{{module_name}}.service;

import {{package_base}}.{{module_name}}.util.{{entity_name}}DTO;
import {{package_base}}.shared.BaseService;

public interface {{entity_name}}Service
        extends BaseService<{{entity_name}}DTO.Create, {{entity_name}}DTO.Update, {{entity_name}}DTO, {{entity_name}}DTO.Filters> {
}
