package {{package_base}}.{{module_name}}.service.impl;

import org.springframework.stereotype.Service;

import {{package_base}}.{{module_name}}.entity.{{entity_name}};
import {{package_base}}.{{module_name}}.repository.{{entity_name}}Repository;
import {{package_base}}.{{module_name}}.service.{{entity_name}}Service;
import {{package_base}}.{{module_name}}.util.{{entity_name}}DTO;
import {{package_base}}.{{module_name}}.util.{{entity_name}}DTO.Create;
import {{package_base}}.{{module_name}}.util.{{entity_name}}DTO.Filters;
import {{package_base}}.{{module_name}}.util.{{entity_name}}DTO.Update;
import {{package_base}}.{{module_name}}.util.{{entity_name}}Mapper;
import {{package_base}}.shared.BaseServiceImpl;

@Service
public class {{entity_name}}ServiceImpl extends
        BaseServiceImpl<{{entity_name}}, Create, Update, {{entity_name}}DTO, Filters>
        implements {{entity_name}}Service {

    public {{entity_name}}ServiceImpl({{entity_name}}Repository repository,
            {{entity_name}}Mapper mapper) {
        super(repository, mapper);

    }

}
